<ion-view view-title="Products">
  <ion-content>
  <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search" ng-model="searchItem">
</label>
   
   
	  <ion-list>
        <div ng-repeat="st in store.Category |filter:searchItem">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(st)"
                    ng-class="{active: isGroupShown(st)}">
              <i class="icon rounded-icon" ng-class="isGroupShown(st) ? 'ion-minus' : 'ion-plus'"></i>
            
             {{st.categoryName}}
          </ion-item>
         <ion-item class="item-accordion"
                    ng-repeat="item in store.Category" ng-if="item.parentID == st.categoryCode"
                    ng-show="isGroupShown(st)">
            {{item.categoryName}}
          </ion-item>
        </div>
      </ion-list>
	  


	
  </ion-content>
</ion-view>
